*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#6ab567,#00f2fe);

min-height:100vh;

display:flex;

flex-direction:column;

align-items:center;

color:white;

transition:.5s;

}

header{

text-align:center;

padding:30px;

}

header h1{

font-size:50px;

margin-bottom:10px;

}

header p{

font-size:20px;

}

#themeBtn{

margin-top:20px;

padding:12px 18px;

border:none;

border-radius:50%;

font-size:20px;

cursor:pointer;

}

.games{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

width:90%;

gap:25px;

margin-top:40px;

}

.card{

background:rgba(255,255,255,.2);

backdrop-filter:blur(15px);

padding:30px;

border-radius:20px;

text-align:center;

transition:.4s;

box-shadow:0 0 20px rgba(0,0,0,.3);

}

.card:hover{

transform:translateY(-10px) scale(1.05);

}

.card h2{

margin-bottom:20px;

}

.card p{

margin-bottom:20px;

}

.card button{

padding:12px 30px;

border:none;

border-radius:30px;

cursor:pointer;

font-size:18px;

background:#ffffff;

color:#527ba2;

font-weight:bold;

transition:.3s;

}

.card button:hover{

background:linear-gradient(rgb(70, 137, 80),rgb(60, 104, 50));

color:white;

}

footer{

margin-top:auto;

padding:20px;

font-size:18px;

}

.dark{

background:#312e2e;

color:white;

}

.dark .card{

background:hsl(0, 4%, 27%);

}