div{
    display: inline;
    color: red;
    background-color: yellow;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    padding: 100px;
}
div{
    display: inline-block;
    /* display: none;
    display: block;
    display: inline; */
    color: rgba(203, 8, 8, 0.9);
    background-color: rgba(11, 173, 79, 0.892);
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    padding: 100px;
}

span{
    display :block;
    color: rgba(255,0,0,0.75);
    background-color: yellow;
}